
h1,h4{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
b{font-weight:bolder;}
a{color:#007bff;text-decoration:none;background-color:transparent;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
table{border-collapse:collapse;}
th{text-align:inherit;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button,select{text-transform:none;}
[role=button]{cursor:pointer;}
select{word-wrap:normal;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
textarea{overflow:auto;resize:vertical;}
h1,h4{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h1{font-size:2.5rem;}
h4{font-size:1.5rem;}
.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
.btn:hover{color:#212529;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0, 123, 255, .25);}
.btn:disabled{opacity:.65;}
.btn-success{color:#fff !important;background-color:#28a745 !important;border-color:#28a745 !important;}
.btn-success:hover{color:#fff !important;background-color:#218838 !important;border-color:#1e7e34 !important}
.btn-success:focus{color:#fff !important;background-color:#218838 !important;border-color:#1e7e34;box-shadow:0 0 0 .2rem rgba(72, 180, 97, .5) !important;}
.btn-success:disabled{color:#fff !important;background-color:#28a745 !important;border-color:#28a745 !important;}
.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545 ;}
.btn-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130;}
.btn-danger:focus{color:#fff;background-color:#c82333;border-color:#bd2130;box-shadow:0 0 0 .2rem rgba(225, 83, 97, .5);}
.btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545;}
.fade{transition:opacity .15s linear;}
@media (prefers-reduced-motion:reduce){
.fade{transition:none;}
}
.close{float:right;font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.5;}
.close:hover{color:#000;text-decoration:none;}
button.close{padding:0;background-color:transparent;border:0;}
.modal-open{overflow:hidden;}
.modal-open .modal{overflow-x:hidden;overflow-y:auto;}
.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0;}
.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none;}
.modal.fade .modal-dialog{transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out, -webkit-transform .3s ease-out;-webkit-transform:translate(0, -50px);transform:translate(0, -50px);}
.modal.fade .modal-dialog{transition:none;}
.modal.show .modal-dialog{-webkit-transform:none;transform:none;}
.modal-content{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0, 0, 0, .2);border-radius:.3rem;outline:0;}
.modal-backdrop{position:fixed;top:0;left:0;z-index:1040;width:100vw;height:100vh;background-color:#000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop.show{opacity:.5;}
.modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;padding:1rem 1rem;border-bottom:1px solid #dee2e6;border-top-left-radius:calc(.3rem - 1px);border-top-right-radius:calc(.3rem - 1px);}
.modal-header .close{padding:1rem 1rem;margin:-1rem -1rem -1rem auto;}
.modal-title{margin-bottom:0;line-height:1.5;}
.modal-body{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:1rem;}
.modal-footer{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:.75rem;border-top:1px solid #dee2e6;border-bottom-right-radius:calc(.3rem - 1px);border-bottom-left-radius:calc(.3rem - 1px);}
.modal-footer>*{margin:.25rem;}
@media (min-width:576px){
.modal-dialog{max-width:500px;margin:1.75rem auto;}
a:not(.btn){text-decoration:underline;}
thead{display:table-header-group;}
img,tr{page-break-inside:avoid;}
p{orphans:3;widows:3;}
h4{margin-top:0;margin-bottom:.5rem;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
h4{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545;}
